body {
   background-color: #98FB98;
   margin: 0;
}
.a{
    text-decoration: none;
    color: white;
}
.li {
  background:white;
}
.ul,
.li{
  list-style-type: none;
  padding:0;
  margin:0;
}

/*CSS DOS DADOS ESTATÃSTICOSS*/

table { 
  width: 100%; 
  border-collapse: collapse; 
}
caption{
  padding-bottom: 5px;
}
/* Zebra striping */
tr{ 
  background: #eee; 
}
th { 
  background: #1dc116; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	td:nth-of-type(1):before { content: "Prontuario"; }
	td:nth-of-type(2):before { content: "Nome"; }
	td:nth-of-type(3):before { content: "Repetido"; }
}

/*CSS DOS FILTROS*/

input[type=text],input[type=date], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}
input[type=date]{
   padding: 5px;
}

.label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.btn{
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; 
}

.submit{
  float: right;
}

.container {
  border-radius: 5px;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}


.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/*CSS DO MENU*/

@import url(http://fonts.googleapis.com/css?family=Oswald);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  border: 3px solid #006400;
  background: #f7f7f7;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  line-height: 1;
  box-shadow: 1px 1px 0 #006400, 2px 2px 0 #006400, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
#cssmenu > ul,
#cssmenu > ul > li > ul{
  background: url('../img/bg.png');
}
#cssmenu > ul > li,
#cssmenu > ul > li > ul > li > a{
  float: left;
}
#cssmenu.align-center > ul,
#cssmenu.align-center > ul > li > ul{
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li,
#cssmenu.align-center > ul > li > ul > li{
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li,
#cssmenu.align-right > ul > li > ul > li{
  float: right;
}
#cssmenu > ul > li > a,
#cssmenu > ul > li > ul > li > a{
  padding: 20px 25px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #6B8E23;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li.active > a,
#cssmenu > ul > li > ul > li > a:hover,
#cssmenu > ul > li > ul > li:hover > a,
#cssmenu > ul > li > ul > li.active > a{
  color: #444444;
}
#cssmenu #menu-indicator {
  position: absolute;
  bottom: 0;
  display: block;
  height: 0;
  width: 0;
  border: 5px solid transparent;
  border-bottom-color: #006400;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}
#cssmenu.small-screen {
  width: 100%;
}
#cssmenu.small-screen > ul,
#cssmenu.small-screen.align-center > ul {
  width: 100%;
  text-align: left;
}
#cssmenu.small-screen > ul > li,
#cssmenu.small-screen.align-center > ul > li {
  float: none;
  display: block;
  border-top: 1px solid rgba(100, 100, 100, 0.1);
}
#cssmenu.small-screen > ul > li > a {
  padding: 18px 25px;
}
#cssmenu.small-screen > ul > li:after,
#cssmenu.small-screen > ul > li:before {
  display: none;
}
#cssmenu.small-screen #menu-button {
  display: block;
  padding: 18px 25px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #006400;
  background: url('../img/bg.png');
}
#cssmenu.small-screen #menu-button.menu-opened {
  color: #444444;
}
#cssmenu.small-screen #menu-button:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 19.5px;
  display: block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border-top: 2px solid #006400;
  border-bottom: 2px solid #006400;
  width: 18px;
  height: 3px;
}
#cssmenu.small-screen #menu-button.menu-opened:after {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
}
#cssmenu.small-screen #menu-button:before {
  content: "";
  position: absolute;
  right: 25px;
  top: 29.5px;
  display: block;
  width: 18px;
  height: 2px;
  background: #006400;
}
#cssmenu.small-screen #menu-button.menu-opened:before {
  background: #444444;
}
#cssmenu.small-screen #menu-indicator {
  display: none;
}