body {
  background-color: #98FB98;
  margin: 0;
}
.nav-bar, .navbar-default{  
  box-shadow: 1px 1px 0 #006400, 2px 2px 0 #006400, 3px 3px 3px rgba(0, 0, 0, 0.35);
}
.navbar{
  border-radius: 0;
  margin-bottom: 0;
}
.centered {
  margin: 0 auto !important;
  float: none !important;
}
.fheader{
  color: #36A0FF;
  font-size: 27px;
  padding: 10px;
}