#map_canvas {
  width: 100%;
  height: 100%;
}
.float-my-children > * {
    float:left;
    margin-right:5px;
}
.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#map_canvas{
    border:1px dashed blue;
    margin-bottom:10px;    
}

.avatar{
  max-width: 100px;
  max-height: 100px;
}

#selDoencas{
  width: 520px;
}

.inpEnt {
  border-radius: 5px;
  height:30px;
  background-color: #FFFFFF;
}

#selShowDoencas{
  display:inline-block;
  position:relative; 
  width:100%;
}

.selShow {
  user-select : none;
  -moz-user-select : none;
  -webkit-user-select : none;
  color: gray;
  cursor: pointer;
}

.listSel {
  display:none;
  list-style-type: none;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style-type:none;
  height:150px;
  overflow: auto;
  z-index:3;
  width: 522px;
}

li {
  background:white;
  cursor: pointer;
}

li:hover {
  background:grey;
}

@media(min-width: 1000px){

}

@media(max-width: 1000px){
  
}
